
<div class="container">

  <form>

    <div class="form-outline mb-4">
      <label class="form-label" for="email-input">Email address</label>

      <input type="email" id="email-input" class="form-control" name="email" [(ngModel)]="usuario.login"/>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="password-input">Password</label>

      <input type="password" id="password-input" class="form-control" [(ngModel)]="usuario.senha" name="password"/>
    </div>

    <button (click)="logar()" type="button" class="btn btn-primary btn-block mb-4">Login</button>

  </form>
</div>

