
<button type="button"
  class="btn btn-outline-warning mb-3 mt-5 fw-bold" (click)="abrirModal(abc)">Novo</button>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Ano</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let carro of lista; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ carro.nome }}</td>
      <td>{{ carro.ano }}</td>
      <td><button type="button" (click)="abrirModal(abc)"
          class="btn btn-primary btn-sm">Edit</button></td>
    </tr>
  </tbody>
</table>

<ng-template #abc let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Novo carro! Uhu</h4>
    <button type="button" class="btn-close" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <app-carro-details (retorno)="addNaLista($event)"></app-carro-details>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light"
      (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
